aiohttp==3.7.4.post0
aiosignal==1.2.0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
Flask==2.1.2
frozenlist==1.3.0
getkey==0.6.5
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
PyYAML==5.4.1
tarantool==0.9.0
typing-extensions==4.3.0
Werkzeug==2.1.2
yarl==1.7.2
